# TODO likely more stuff that could be ignored
.git
.gitignore
.github
.travis.yml
ci

# NOTE: there's unfortunately no "global dockerignore" mechanism AFAICT,
# so I'm for now adding some other local stuff under my env here:
.idea
