aclocal.m4
libtool
configure
Makefile.in
autom4te.cache/*
config.log
config.status

src/*/*.o
src/*/*.lo
src/*/*.la
src/*/.deps
src/*/.libs
src/Makefile
src/*/Makefile
src/*/*/Makefile
src/Makefile.in
src/*/Makefile.in
src/*/*/Makefile.in
