*.DS_Store
/aclocal.m4
/Makefile
/config.log
/config.status
autom4te.cache/*
src/**/*.o
src/**/*.lo
src/**/*.la
src/**/.deps
src/**/.libs
src/**/Makefile
src/**/*.exe
src/gsf/dump_gsf
src/mbedit/mbedit
src/mbeditviz/mbeditviz
src/mbgrdviz/mbgrdviz
src/mbio/stamp-h1
src/mbio/projections.h
src/mbnavadjust/mbnavadjust
src/mbnavadjust/mbnavadjustmerge
src/mbnavadjust/mbnavadjusttest
src/mbnavedit/mbnavedit
src/mbtrn/emu7k
src/mbtrn/frames7k
src/mbtrn/stream7k
src/mbtrn/tmbtrn
src/mbtrn/trnc
src/mbtrn/tbinx
src/mbtrn/udpc
src/mbtrn/udps
src/mbvelocitytool/mbvelocitytool
src/otps/mbotps
src/otps/otps.h
src/utilities/tmp/*
src/utilities/levitus.h
src/deprecated/mb7k2jstar
src/deprecated/mb7k2ss
src/deprecated/mb7kpreprocess
src/utilities/mbabsorption
src/utilities/mbareaclean
src/utilities/mbauvloglist
src/deprecated/mbauvnavusbl
src/utilities/mbbackangle
src/utilities/mbclean
src/utilities/mbconfig
src/utilities/mbcopy
src/utilities/mbctdlist
src/utilities/mbdatalist
src/utilities/mbdefaults
src/utilities/mbdumpesf
src/utilities/mbextractsegy
src/utilities/mbfilter
src/utilities/mbformat
src/utilities/mbgetesf
src/utilities/mbgpstide
src/utilities/mbgrid
src/utilities/mbhistogram
src/deprecated/mbhsdump
src/deprecated/mbhysweeppreprocess
src/utilities/mbinfo
src/deprecated/mbinsreprocess
src/deprecated/mbkongsbergpreprocess
src/utilities/mblevitus
src/utilities/mblist
src/utilities/mbmakeplatform
src/utilities/mbminirovnav
src/utilities/mbmosaic
src/utilities/mbnavlist
src/deprecated/mbneptune2esf
src/utilities/mbpreprocess
src/utilities/mbprocess
src/deprecated/mbrollbias
src/utilities/mbrolltimelag
src/utilities/mbroutetime
src/deprecated/mbrphsbias
src/utilities/mbsegygrid
src/utilities/mbsegyinfo
src/utilities/mbsegylist
src/utilities/mbsegypsd
src/utilities/mbset
src/utilities/mbsslayout
src/deprecated/mbstripnan
src/utilities/mbsvplist
src/utilities/mbsvpselect
src/deprecated/mbswplspreprocess
src/utilities/mbtime
src/utilities/mbtrnpreprocess
src/utilities/mbvoxelclean
test/**/*.o
test/**/*.lo
test/**/*.la
test/**/.deps
test/**/.libs
test/**/Makefile
test/**/*.exe
test/**/*_test
test/**/*_test.log
test/**/*_test.trs
test-suite.log
third_party/**/*.o
third_party/**/*.lo
third_party/**/*.la
third_party/**/.deps
third_party/**/.libs
third_party/**/Makefile
third_party/**/*.exe
.dirstamp
lib
*.log
*.trs
*~
src/mbtrn/mb1conv
src/mbtrnutils/mbtrnpp
src/mbtrn/r7kr_test
src/mbtrnav/trn-cli
src/mbtrnav/trn-server
src/mbtrnsave/
src/mbtrnavsave/
src/mbtrnutilssave/

src/mbtrn/mbtnav-cli
src/mbtrnav/netif-test
src/mbtrnav/trnclient-test
src/mbtrnav/trnif-test
src/mbtrnav/trnifsvr-test
