
#  mbtrnpp configuration example
#
# - option naming same as command line (w/o '--')
# - use '#' or '//' for comments
# - some options support variable substitution:
#     option        variable           description
#     ------        --------           -----------
#     output        SESSION            mbtrpp session ID (YYYYMMDD-hhmmss)
#     input         TRN_SOURCE_HOST[1] input socket IP address
#     mb-out        TRN_HOST[1]        TRN processing host IP
#     trn-out       TRN_HOST           TRN host IP (for trnsvr, trnusvr)
#                   TRN_GROUP          TRN multicast group (for trnumsvr)
#     trn-mid       TRN_SESSION        TRN mission ID (YYYY-JJJ) (JJJ: year day)
#     log-directory TRN_LOGFILES[2]    TRN log directory
#     trn-map       TRN_MAPFILES[2]    TRN map file directory
#     trn-par       TRN_DATAFILES[2]   TRN data/cfg file directory
#     trn-cfg       TRN_DATAFILES
#   Notes
#     [1] use current host IP address if environment unset
#     [2] use current directory if environment unset
# - "opt" annotations indicate option name and internal type

// opt "verbose" [int]
// debug output level
// <0 : TRN debug (-2 typical)
// >0 : MB-System debug (>2 very verbose)
verbose=-2

// opt "log-directory" [mb_path]
// log directory
log-directory=/path/to logs

// opt "input" [input_mode_t]
// input data source specifier
// file_path
// socket:IP:port:?
input=socket:TRN_SOURCE_HOST:7000:0

// opt "output" [?]
// output mode specifier
output=file:mbtrnpp_SESSION.mb1

// opt "swath-width" [double]
// sonar swath (decimal degrees)
swath-width=90

// opt "soundings" [int]
// number of sonar soundings to output
soundings=11

// opt "median-filter" [?]
// median filter parameters
// <threshold>/<n_across>/<n_along>
median-filter=0.10/9/3

// opt "format" [int]
// input data format
format=88

// opt "auv-sentry-em2040" [none]
// flag to enable special handling of AUV Sentry pressure depth
#auv-sentry-em2040

// opt "platform-file" [mb_path]
// description TBD
#platform-file=

// opt "platform-target-sensor" [int]
// description TBD
#platform-target-sensor=

// opt "projection"
// cartographic(?) projection ID
#projection=

// opt "trn_" [char*]
// sonar mnemonic mapped to
// 7K Center device ID and system enumerator
// during message subcription.
// - Default set using mbtrnpp.c:CFG_TRN_DEV_DFL
// - Affects only reson sonars
// Valid values:
//  7125_200 : Seabat 7125 200 kHz
//  7125_400 : Seabat 7125 400 kHz
//  T50      : T50-S, T50-R
#trn-dev=T50

// opt "mbhbn" [int]
// MB1 server heartbeat modulus
// (timeout preferred, use mbhbt)
#mbhbn

// opt "mbhbt" [double]
// MB1 server heartbeat timeout (s)
mbhbt=15

// opt "trnhbt" [double]
// TRN server heartbeat timeout (s)
trnhbt=15

// opt "trnuhbt" [double]
// TRNU (udp update) server heartbeat timeout (s)
trnuhbt=15

// opt "delay" [int64_t]
// Delay main TRN processing loop (msec)
delay=0

// opt "statsec" [double]
// TRN profiling logging interval (s)
statsec=30

// opt "statflags" [mstats_flags]
// TRN profiling flags
// MSF_STATUS - include status
// MSF_EVENT - include events
// MSF_ASTAT - include aggregated stats
// MSF_PSTAT - include periodic stats
// MSF_READER - include R7K reader stats
statflags=MSF_STATUS|MSF_EVENT|MSF_ASTAT|MSF_PSTAT

// opt "trn-en" [bool]
// opt "trn-dis" [bool]
// enable/disable TRN processing
// use Y/1: enable N/0: disable
trn-en=Y

// opt "trn-utm" [long]
// UTM zone for TRN processing (1-60)
// Monterey Bay : 10
//        Axial :  9
trn-utm=9

// opt "trn-map" [char*]
// TRN map file (required for TRN processing)
// (may be a directory path for tiled map)
trn-map=TRN_MAPFILES/AxialSummit_MAUV_Post2011Eruption_Topo1mUTM.grd

// opt "trn-cfg" [char*]
// TRN configuration file (required for TRN processing)
trn-cfg=TRN_DATAFILES/mappingAUV_specs.cfg

// opt "trn-par" [char*]
// TRN particles file (optional for TRN processing)
trn-par=TRN_DATAFILES/particles.cfg

// opt "trn-mid" [char*]
// TRN mission ID
// (used for TRN log directory name prefix)
trn-mid=mb-TRN_SESSION

// opt "trn-mtype" [int]
// TRN map type
// TRN_MAP_DEM  1
// TRN_MAP_BO   2
trn-mtype=1

// opt "trn-ftype" [int]
// TRN filter type
// TRN_FILT_PARTICLE
// TRN_FILT_NONE       0
// TRN_FILT_POINTMASS  1
// TRN_FILT_PARTICLE   2
// TRN_FILT_BANK       3
trn-ftype=2

// opt "trn-fgrade" [int]
// filter grade
// 0: use low grade filter
// 1: use high grade filter
trn-fgrade=0

// opt "trn-freinit" [int]
// enable filter reinit
// 0: don't allow filter reinit
// 1: allow reinit
trn-freinit=1

// opt "trn-mweight" [int]
// use modified weighting
// 0 - No weighting modifications.
// 1 - Shandor's original alpha modification.
// 2 - Crossbeam with Shandor's weighting.
// 3 - Subcloud with Shandor's original.
// 4 - Subcloud with modified NIS always on.
trn-mweight=4

// opt "trn-ncov" [double]
// TRN convergence criteria
// northing covariance limit
trn-ncov=49

// opt "trn-nerr" [double]
// TRN convergence criteria
// northing error limit
//trn-nerr=50
trn-nerr=200

// opt "trn-ecov" [double]
// TRN convergence criteria
// easting covariance limit
trn-ecov=49

// opt "trn-eerr" [double]
// TRN convergence criteria
// easting error limit
//trn-eerr=50
trn-eerr=200

// opt "mb-out" [?]
// MB1 output specifier
// comma delimited list including one or more of:
// mb1svr:<ip>:<port>  - enable MB1 server
// mb1                 - enable MB1 binary record logging
// file:<path>         - enable MB1 binary record logging
// file                - enable MB1 binary record logging (use default name)
// reson               - enable reson S7K frame logging
// nomb1               - disable MB1 binary record logging
// noreson             - disable reson S7K frame logging
// nomb1               - disable MB1 server
// nombtrnpp           - disable mbtrnpp message log (not recommended)
mb-out=mb1svr:TRN_HOST:27000

// opt "trn-out" [?]
// TRN output specifier
// comma delimited list including one or more of:
// trnsvr:<ip>:<port>         - enable trn server interface
// trnu                       - enable TRN update ascii logging
// trnub                      - enable TRN update binary logging
// trnusvr:<ip>:<port>        - enable TRN update server (UDP)
// trnumsvr:<gp>:<port>:<ttl> - enable TRN update server (multicast)
// sout                       - enable TRN output to stdout
// serr                       - enable TRN output to stderr
// debug                      - enable TRN debug output
// notrnsvr                   - disable trn server interface
// notrnusvr                  - disable TRN update server
trn-out=trnsvr:TRN_HOST:28000,trnu,trnusvr:TRN_HOST:8000,trnumsvr:TRN_GROUP:7667:32

// opt "trn-decn" [int]
// TRN updpate decimation modulus
// (update TRN every nth MB1 sample)
trn-decn=9

// opt "trn-decs" [double]
// TRN updpate decimation interval (decimal seconds)
// (update TRN every dec seconds)
#trn-decs=3.0

// opt "trn-nombgain" [bool]
// enable/disable gating TRN resets using sonar transmit gain
// use Y/1: enable N/0: disable
#trn-nombgain=Y (deprecated, use reinit-gain)

// opt "reinit-gain" [none]
// enable/disable gating TRN resets using sonar transmit gain
reinit-gain

// opt "reinit-file" [bool]
// reinitialize TRN every time a new
// file is read when parsing a datalist
reinit-file=Y

// opt "reinit-xyoffset" [double]
// reinitialize TRN whenever the magnitude of the
// lateral converged offset exceeds specified limit
reinit-xyoffset=150.0

// opt "reinit-zoffset" [double]
// reinitialize TRN whenever the converged z-offset
// is is outside specified range.
reinit-zoffset=-2.0/2.0

// opt "convergence-repeat-min" [double]
// number of consecutive converged pings required for validation
//convergence-repeat-min=200

// opt "covariance-magnitude-max" [double]
// maximum covariance magnitude required for validation
//covariance-magnitude-max=5
